body {
    background-color: rgb(253, 245, 235);
    margin:0;
    text-align: center;
}

hr{
    margin: 40px auto 40px auto;
    color: rgb(222, 196, 255);
    border-style: dotted none none none;
    height: 0;
    width: 10%;
    border-width: 8px;
}
p{
    font-size: 20px;
}
    
h1 {
    font-size: 40px;
    margin-top: 40px;
    font-family: 'Alegreya', serif;
    color: rgb(66, 166, 52);
}

h2 {
    margin: 60px auto 20px auto;
    font-family: 'Orbitron', sans-serif;
    color: red;
}
h3{
    width: 45%;
    margin: auto auto;
    font-weight:100;
    font-family: 'Poppins', sans-serif;
}

.top{
    background-color: #c3d4e5;
    
    position: relative;
    padding-top: 50px;
   
}

.mid{
  display: inline-block;
  text-align: center;
}

.bottom{
    height: 50px;
    background-color: rgb(208, 254, 228);
    
}

.topc{
    display: inline-block;
    /* left:50px; */
    margin-left: 350px;

}
.bottomc{
  display: inline-block;
  position: absolute;
  top:247.4px;
}


#cdimg{
  display: inline-block;  
  width: 250px;
  height: 250px;
}

#mtn{
    margin-top: 40px;
}

#cdg{
    margin: 30px auto 20px auto;
    
}

#cdgw{
    margin-bottom: 50px;
    margin-bottom: 50px;
}

#lnkd{
    display: inline-block;
    margin-top: 10px;
    padding: 50px auto 10px;
    text-decoration: none;
    color: rgb(29, 224, 250);
}

#lnkd:hover{
    color: blueviolet;
    
}

.btn {
    border: none;
    margin:40px;
    background: #4db3f7;
    background-image: -webkit-linear-gradient(top, #4db3f7, #2bafb8);
    background-image: -moz-linear-gradient(top, #4db3f7, #2bafb8);
    background-image: -ms-linear-gradient(top, #4db3f7, #2bafb8);
    background-image: -o-linear-gradient(top, #4db3f7, #2bafb8);
    background-image: linear-gradient(to bottom, #4db3f7, #2bafb8);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 6px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #a754f5;
    background-image: -webkit-linear-gradient(top, #a754f5, #8adcff);
    background-image: -moz-linear-gradient(top, #a754f5, #8adcff);
    background-image: -ms-linear-gradient(top, #a754f5, #8adcff);
    background-image: -o-linear-gradient(top, #a754f5, #8adcff);
    background-image: linear-gradient(to bottom, #a754f5, #8adcff);
    text-decoration: none;
  }